@page
@model TrinitasHunde.Pages.Public.MapModel
@{
    ViewData["Title"] = "Map";
}

<h2>Map</h2>

<!-- Radio buttons for map search options -->
<div class="container">
    <div class="row">
        <div class="col">
            <p>Vælg en pin type:</p>
            @foreach (PinType item in Model.PinTypes)
            {
                <input type="radio" name="pinType" value="@item.ID" /> @item.Name <br />
            }
        </div>
        <div class="col">
            <p>Vælg en lokation type:</p>
            @foreach (LocationType item in Model.LocationTypes)
            {
                <input type="radio" name="locationType" value="@item.ID" /> @item.Name <br />
            }
        </div>
        <input type="submit" value="Søg" />
    </div>
</div>

<!-- Container for google maps -->
<div id="mapContainer" style="width:100%;height:800px;"></div>

@section Scripts {
    <!-- Import google maps (add api key here) -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Initialize google maps -->
    <script type="text/javascript">
        // Initialize on document ready
        $(document).ready(function () {

            // Set a Latitude and Longitude
            let vatican = new google.maps.LatLng(41.903, 12.454);

            // Configure Google Map
            let mapOptions = {
                center: vatican,
                zoom: 15,
                maxZoom: 15,
                minZoom: -10,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            // Display the Google map in the prepared div container with the defined Options
            let map = new google.maps.Map(document.getElementById("mapContainer"), mapOptions);

            // Parse List of pins in C# to an Array of pins in JS
            var arrayOfPins = JSON.parse('@Html.Raw(Json.Serialize(@Model.Pins))');

            // Loads array of pins into Map
            for (var i = 0; i < arrayOfPins.length; i++) {
                var marker = new google.maps.Marker({
                    position: { lat: arrayOfPins[i].gpsLatitude, lng: arrayOfPins[i].gpsLongitude },
                    animation: google.maps.Animation.DROP,
                    draggable: true,
                    icon: arrayOfPins[i].pinColor,
                    title: arrayOfPins[i].name,
                    map: map
                });
            }

            map.addListener('click', function (e) {
                // Get coordinates from event
                let coords = e.latLng;
                // Get placeId if a place was clicked
                let placeId = e.placeId;

                // Log coordinates in console
                console.log(`Lat: ${coords.lat()} | Lng: ${coords.lng()}`);

                // Pan the map to click position
                map.panTo(coords);
            });
        });
    </script>
}
